.rbc-header {
  font-weight: 300;
  padding: 8px 16px;
  border-bottom: 1px solid #c0c0c0;
}

.rbc-off-range-bg {
  background: none;
}

.rbc-date-cell {
  text-align: left;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 300;
  padding: 4px 8px;
}

.rbc-off-range {
  color: #c0c0c0;
}

.rbc-month-view,
.rbc-day-bg + .rbc-day-bg,
.rbc-header + .rbc-header {
  border-color: #e6e6e6;
}

.rbc-day-bg {
  padding: 0 8px;
}

.rbc-event {
  border-radius: 0;
  padding: 6px;
  background-color: #ffcd00;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 16px;
}

.rbc-event:hover,
.rbc-event.rbc-selected:hover {
  background-color: #e6b900;
}

.rbc-event.rbc-selected {
  background-color: #ffcd00;
}

.rbc-show-more {
  font-weight: 400;
  font-size: 12px;
  margin: 0 8px;
  color: #3399ff;
}

.rbc-day-slot .rbc-events-container {
  right: 18px;
}

.rbc-day-slot .rbc-event {
  border: none;
}

.rbc-current-time-indicator {
  background-color: #ff6666;
}

.rbc-today {
  background-color: white;
}

.rbc-date-cell {
  padding: 8px 8px 8px 16px;
}

.rbc-today:after {
  content: "오늘";
  padding: 8px;
  color: #3399ff;
  font-size: 12px;
  font-weight: normal;
  float: right;
}

.rbc-label {
  font-size: 14px;
}
